<h1>New Blog Post</h1>

<%= form_with model: @blog_post do |form| %>
    <% if form.object.errors.any? %> <!-- The form.object here refers to the blog post object, the errors here are defined with the help of the validation defined in the model-->
        <div>
            <% form.object.errors.full_messages.each do |message| %>
                <div>
                    <%= message %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>
    <div>
        <%= form.button %>
    </div>
<% end %>